bash_kernel
bashplotlib
coverage
findspark
Flask
Flask-WTF
ggplot
ipyparallel
ipython-sql
jupyter_contrib_nbextensions
jupyter_dashboards
lightning-python
moc
msgpack
nbdime
nose
paver
plotly
pymysql
PyPDF2
PyQt5
pyspark
pytest
pytest-cov
rednose
tensorflow
traitlets
twine  
git+https://github.com/yhat/ggpy.git@v0.6.6
