assertthat
base64enc
BH
bitops
car
caret
chron
colorspace
crayon
data.table
DBI
devtools
dichromat
digest
dplyr
dummy
evaluate
feather
foreach
formatR
gdata
GGally
ggplot2
glmnet
googleVis
gtable
hexbin
highr
htmltools
htmlwidgets
httpuv
IRdisplay
iterators
jpeg
knitr
labeling
lazyeval
LightningR
maps
markdown
MatrixModels
minqa
munsell
nloptr
NLP
pbdZMQ
pbkrtest
pdftools
plyr
proto
quantmod
quantreg
randomForest
rbokeh
rCharts
RColorBrewer
Rcpp
RcppEigen
readxl
repr
reshape
reshape2
rhdf5
rJava
rjson
RJSONIO
rjsonlite
rmarkdown
RMySQL
scales
shiny
SparseM
sqldf
tidyr
tm
TTR
uuid
WriteXLS
XLConnect
XLConnectJars
xlsx
XML
xml2
xtable
xts
yaml
zoo